<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>

  <% if(messages.error){ %>
    <p><%= messages.error %></p>
  <% } %>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/login" method="POST">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
          <br>
          <p>New to the page? <a href='/register'>Register</a></p>

        </div>
      </div>
    </div>

    <!-- <img src="/images/google-logo.png" alt="google" width="32px"> -->
    <!-- <i class="fab fa-google"></i> -->

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social" style="background-color: #e8eff5;" href="/auth/google" role="button">
            <img src="/images/google-logo.png" alt="google" width="38px">
            Login with Google
          </a>

          <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Login with Facebook
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
