<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/badge.ico">
</head>
<body class="padding">
  <h1 class="center">Privacy Policy</h1>
  <hr><hr>

  <h2>1. Information We Collect</h2>
  <p>To use some of our products and services you need to have an account, and to create an account, you need to provide us certain information. Likewise, if you use our paid products and services, we cannot provide them to you without getting payment information. Basically, certain information is necessary if you want to use many of our products and services.</p>
  <hr>

  <h2>2. How We Use Information</h2>
  <p>Breaking down how we use the information we collect is not simple because of the way the systems that bring our services to you work. For example, the same piece of information may be used differently for different purposes to ultimately deliver a single service. We think it’s most useful to describe the five main ways we use information and if you have questions that are not answered, you can always contact us.</p>
  <hr>

  <h2>3. Sharing Information</h2>
  <p>With the general public. You are directing us to disclose that information as broadly as possible. Twitter content, including your profile information (e.g., name/pseudonym, username, profile pictures), is available for viewing by the general public. The public does not need to be signed in to view much of the content on Twitter. They may also find Twitter content off of Twitter, for example from search query results on Internet search engines.</p>
</body>
</html>